simu-model/src/main/resources/NbUsers.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:com:nh:db:ml:simuservice:model">
	<xs:element name="NbUsers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sessionId" type="xs:string" />
				<xs:element name="nbusers" type="xs:int" />
				<xs:element name="dockerId" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>